/* main.css */
@import url('responsive.css');
/* components */
@import url('components/page-header.css');
@import url('components/side-bar.css');
/* ui */
@import url('ui/toggle-sidebar.css');
@import url('ui/toggle-img-sizes.css');
/* step-prompts */
/* @import url('step-prompts/responsive-step-prompts.css'); */
@import url('step-prompts/components/edit-nav.css');
@import url('step-prompts/borders-step-prompts.css');
@import url('step-prompts/layout-step-prompts.css');
@import url('step-prompts/position-step-prompts.css');
@import url('step-prompts/sizing-step-prompt.css');
/* utilities */
@import url('utilities/borders.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/position.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
