/* main.css */
@import url('responsive.css');
/* components */
@import url('../../css-index/components/page-header.css');
/* ui */
@import url('ui/toggle-img-sizes.css');

/* utilities */
@import url('utilities/borders.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/position.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
