/* toggle-sidebar.css */
.main-content.collapse .side-bar #sideBarBtn{
    position: fixed;
    bottom: 8%;
    left: 2.5%;
    transform: scale(1.75);
}
.main-content.collapse .side-bar{
    width: 2% !important;
}
.main-content.collapse .side-bar .side-bar-btns-container,
.main-content.collapse .side-bar #sideBarList{
    opacity: 0;
    display: none;
}
