/* layout-step-prompts.css */
.step {
    display: flex;
    flex-direction: column;
}
.content-boxes{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.content-boxes > .copy-code{
    flex-basis: 55%
}
.content-boxes > .step-vid,
.content-boxes>.step-img{
    flex-basis: 50%;
}

